<h2>Edit Maintenance Item</h2>

<form action="/maintenance_items/<%=@maintenance_item.id%>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <select name="car_id" >
        <% @cars.all.each do |car| %>
        <option value="<%=car.id%>"><%=car.name%></option>
        <% end %>
    </select> 
    <br/>
    
    <label>Name:</label>
    <input type="text" name="maintenance_name" value="<%=@maintenance_item.name%>"> <br/>

    <label>Mileage Performed:</label>    
    <input type="text" name="mileage_performed" value="<%=@maintenance_item.mileage_performed%>"> <br/>

    <label>Mileage Due:</label>
    <input type="text" name="mileage_due" value="<%=@maintenance_item.mileage_due%>"> <br/>

    <label>Cost $:</label>
    <input type="text" name="cost" value="<%=@maintenance_item.cost%>"> <br/>

    <input type="submit" value="Edit Maintenance Item">

</form>

<p><a href="/cars">Show All Cars</a></p>
