<h1><%= @car.name %></h1>

<h4>Scheduled Maintenance</h4>
<% @car.car_maintenance_items.each do |car_maintenance_item| %>
    <% @car.maintenance_items.each do |maintenance_item| %>
        <div>
            <a href="/car_maintenance_items/<%= car_maintenance_item.id %>"> <%= maintenance_item.name %> </a>
        </div>
    <% end %>
<% end %>

<h4>Actions</h4>

<p><a href="/cars/<%= @car.id %>/edit">Edit This Car</a></p>

<form action="/cars/<%= @car.id %>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Car">
</form>

