<h1><%= @car.name %></h1>

<h4>Maintenance Items</h4>
<% @car.maintenance_items.each do |maintenance_item| %>
    <div>
        <a href="/maintenance_items/<%= maintenance_item.id %>"> <%= maintenance_item.name %> </a>
    </div>
<% end %>

<h4>Actions</h4>
<p><a href="/maintenance_items/new">Add a New Maintenance Item</a></p>

<p><a href="/cars/<%= @car.id %>/edit">Edit This Car</a></p>

<p><a href="/cars">Show All Cars</a></p>

<p><a href="/logout">Log Out</a></p>

<form action="/cars/<%= @car.id %>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Car">
</form>

